# build output
dist/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json

# wrangler
.wrangler/
.dev.vars

# OS
.DS_Store
Thumbs.db
